---
const options = [
  "3-Daagse cursus Vectorworks Basis",
  "1-Daagse cursus Vectorworks Spotlight",
  "1-Daagse cursus Vectorworks 3D-modeling",
  "1-Daagse cursus Vectorworks Rendering en Visualisatie",
  "Maatwerk Training",
  "2D- en 3D-tekenwerk en visualisatie"
];

import FormStatus from "@/components/FormStatus.astro";
---

<div class="form-shell">
  <FormStatus />
  <p class="form-status form-status--error" data-form-runtime-message hidden aria-live="polite"></p>
  <form class="site-form" action="/api/aanmelden.php" method="post">
    <input type="hidden" name="form_started_at" value="" data-js-timestamp />
    <input type="hidden" name="company_site" value="" />

    <label>
      <span>Bedrijfsnaam</span>
      <input name="company" type="text" autocomplete="organization" maxlength="160" placeholder="Bedrijfsnaam" />
    </label>

    <label>
      <span>Naam *</span>
      <input name="name" type="text" required autocomplete="name" maxlength="120" placeholder="Naam*" />
    </label>

    <label>
      <span>Adres</span>
      <input name="address" type="text" autocomplete="street-address" maxlength="200" placeholder="Adres" />
    </label>

    <div class="site-form__grid">
      <label>
        <span>Postcode</span>
        <input name="postal_code" type="text" autocomplete="postal-code" maxlength="32" placeholder="Postcode" />
      </label>

      <label>
        <span>Woonplaats</span>
        <input name="city" type="text" autocomplete="address-level2" maxlength="120" placeholder="Woonplaats" />
      </label>
    </div>

    <div class="site-form__grid">
      <label>
        <span>Telefoonnummer *</span>
        <input name="phone" type="tel" required autocomplete="tel" maxlength="60" placeholder="Telefoon nummer*" />
      </label>

      <label>
        <span>E-mailadres *</span>
        <input name="email" type="email" required autocomplete="email" maxlength="254" placeholder="Email*" />
      </label>
    </div>

    <fieldset class="site-form__fieldset">
      <legend>Interesse</legend>
      <div class="site-form__options">
        {options.map((option) => (
          <label class="site-form__checkbox">
            <input name="interest[]" type="checkbox" value={option} />
            <span>{option}</span>
          </label>
        ))}
      </div>
    </fieldset>

    <label>
      <span>Vraag, opmerking of gewenste periode *</span>
      <textarea
        name="message"
        rows="6"
        required
        maxlength="5000"
        placeholder="Hier kunt u vragen, opmerkingen en een voorkeur voor een periode aangeven."
      ></textarea>
    </label>

    <label class="site-form__checkbox">
      <input name="privacy_accepted" type="checkbox" value="1" required />
      <span>Ja, ik ga akkoord met de <a href="/privacyverklaring/">privacyverklaring</a>.</span>
    </label>

    <div class="site-form__altcha">
      <altcha-widget
        challenge="/api/altcha-challenge.php?form=signup"
        auto="onsubmit"
        display="standard"
        name="altcha"
        type="checkbox"
      ></altcha-widget>
      <p class="site-form__altcha-note">Spambeveiliging zonder tracking of cookies.</p>
    </div>

    <button class="button" type="submit">Verzenden</button>
  </form>
</div>
